//FONTES
$fonte: 'Rpboto', sans-serif;

// TAMANHOS DAS FONTES
$tamanho-do-texto: 3rem;

//CORES
$cor-primaria: #AC7088;
$cor-secundaria: #DEB6AB;
$cor-terciaria: #ECCCB2;
$cor-bg: #F5E8C7 ;
$cor-destaque: #C8DBBE ;

